<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="taxiEntities" connectionString="metadata=res://*/TaxiModel.csdl|res://*/TaxiModel.ssdl|res://*/TaxiModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=77.55.254.17;user id=chmiel;password=Maslo1;persistsecurityinfo=True;database=baza-danych&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Taksówki.Properties.Settings.baza_danychConnectionString"
    connectionString="server=77.55.254.17;user id=chmiel;password=Maslo1;persistsecurityinfo=True;database=baza-danych"
    providerName="MySql.Data.MySqlClient" />
</connectionStrings></configuration>